In [ ]:
import base64
import requests as rq
import json
import pandas as pd

In [ ]:
# Define a function in order to obtain our personalised token

def get_oauth_token():
    '''
    This function will return our personalised token
    '''
    api_key = 'fmsbh2n7x8fp28gv1zjz994y7zcb349h'   # Your API key provided by Idealista
    secret = 'Cv6xmEfeYMSL'   # Your secred code provided by Idealista

    message = api_key + ":" + secret   # Combine the API key and the secret to get our personalised message

    auth = "Basic " + base64.b64encode(message.encode("ascii")).decode("ascii")   # Encode the message

    headers_dic = {"Authorization" : auth,
                   "Content-Type" : "application/x-www-form-urlencoded;charset=UTF-8"}   # Define our headers

    params_dic = {"grant_type" : "client_credentials",   # Define the request params
                  "scope" : "read"}

    r = rq.post("https://api.idealista.com/oauth/token",   # Perform the request with the api url, headers and params
                      headers = headers_dic,
                      params = params_dic)

    token = json.loads(r.text)['access_token']   # Obtain the personalised token, as a json

    return token

In [ ]:
# This are the params we will use to filter our search

base_url = 'https://api.idealista.com/3.5/'     # Base search url
country = 'es'     # Search country (es, it, pt)
language = 'es'     # Search language (es, it, pt, en, ca)
max_items = '50'     # Max items per call, the maximum set by Idealista is 50
operation = 'sale'     # Kind of operation (sale, rent)
property_type = 'homes'     # Type of property (homes, offices, premises, garages, bedrooms)
order = 'distance'     # Order of the listings, consult documentation for all the available orders
center = '37.391285,-5.962270'     # Coordinates of the search center
distance = '60000'     # Max distance from the center
sort = 'asc'     # How to sort the found items
bankOffer = 'false'     # If the owner is a bank
# maxprice = '750'     # Max price of the listings

In [ ]:
# Define a function to obtain our search url

def define_search_url():
    '''
    This function will combine our params with the url, in order to create our own search url
    '''
    url = (base_url +
           country +
           '/search?operation=' + operation +
           '&maxItems=' + max_items +
           '&order=' + order +
           '&center=' + center +
           '&distance=' + distance +
           '&propertyType=' + property_type +
           '&sort=' + sort +
           '&numPage=%s' +
           # '&maxPrice=' + maxprice +
           '&language=' + language)

    return url

In [ ]:
url = define_search_url()
url

'https://api.idealista.com/3.5/es/search?operation=sale&maxItems=50&order=distance&center=37.391285,-5.962270&distance=60000&propertyType=homes&sort=asc&numPage=%s&language=es'

In [ ]:
def search_api(url):
    '''
    This function will use the token and url created previously, and return our search results.
    '''
    token = get_oauth_token()   #  Get the personalised token

    headers = {'Content-Type': 'Content-Type: multipart/form-data;',   # Define the search headers
               'Authorization' : 'Bearer ' + token}

    content = rq.post(url, headers = headers)   # Return the content from the request

    result = json.loads(content.text)   # Transform the result as a json file

    return result

In [ ]:
# Since we need to give pagination to our search and this is our first search, we will set the pagination as 1
pagination = 1
first_search_url = url %(pagination)

In [ ]:
# Proceed to do the search with the paginated url
results = search_api(first_search_url)

In [ ]:
results

{'elementList': [{'propertyCode': '104379438',
   'thumbnail': 'https://img3.idealista.com/blur/WEB_LISTING/0/id.pro.es.image.master/c6/05/c5/1218705239.jpg',
   'numPhotos': 14,
   'floor': '1',
   'price': 114000.0,
   'priceInfo': {'price': {'amount': 114000.0,
     'priceDropInfo': {'formerPrice': 119000.0,
      'priceDropValue': 5000,
      'priceDropPercentage': 4}}},
   'propertyType': 'flat',
   'operation': 'sale',
   'size': 90.0,
   'exterior': True,
   'rooms': 2,
   'bathrooms': 1,
   'address': 'calle Memphis',
   'province': 'Sevilla',
   'municipality': 'Sevilla',
   'district': 'San Pablo',
   'country': 'es',
   'neighborhood': 'San Pablo',
   'latitude': 37.3913318,
   'longitude': -5.9622749,
   'showAddress': False,
   'url': 'https://www.idealista.com/inmueble/104379438/',
   'distance': '5',
   'description': '¡OPORTUNIDAD! Se vende piso en calle Memphis. El piso es un primero, el cual consta de 90m2 distribuidos en 2 dormitorios (antes 3), cocina, baño y salón con terraza incorporada. El segundo dormitorio está actualmente como vestidor y para poder acceder a él hay que pasar por el dormitorio principal. Zona San Pablo, barrio C. Ubicado en una zona con buena comunicación mediante transporte público y rodeada de centros educativos, centros de salud y supermercados. Ideal para parejas jóvenes y mayores, familias numerosas e inversores. ¡1ª planta sin ascensor! 114.000€ ¿Necesita hipoteca o financiación? También contamos con el departamento financiero. Desde inmobiliaria Inmofirma nos encargamos de todas las gestiones necesarias para llevar a cabo la compraventa de su vivienda de la mejor manera posible.   ¡Llame, pregunte y visítelo sin ningún tipo de compromiso! Te informaremos sobre la vivienda y sobre todos los gastos de compraventa.',
   'hasVideo': False,
   'status': 'good',
   'newDevelopment': False,
   'hasLift': False,
   'priceByArea': 1267.0,
   'detailedType': {'typology': 'flat'},
   'suggestedTexts': {'subtitle': 'San Pablo, Sevilla',
    'title': 'Piso en calle Memphis'},
   'hasPlan': False,
   'has3DTour': False,
   'has360': False,
   'hasStaging': False,
   'topNewDevelopment': False,
   'topPlus': False},
  {'propertyCode': '104577954',
   'thumbnail': 'https://img3.idealista.com/blur/WEB_LISTING/0/id.pro.es.image.master/05/ec/30/1224944926.jpg',
   'numPhotos': 24,
   'floor': '4',
   'price': 95000.0,
   'priceInfo': {'price': {'amount': 95000.0}},
   'propertyType': 'flat',
   'operation': 'sale',
   'size': 67.0,
   'exterior': True,
   'rooms': 2,
   'bathrooms': 1,
   'address': 'barrio San Pablo',
   'province': 'Sevilla',
   'municipality': 'Sevilla',
   'district': 'San Pablo',
   'country': 'es',
   'neighborhood': 'San Pablo',
   'latitude': 37.3931316,
   'longitude': -5.9631649,
   'showAddress': False,
   'url': 'https://www.idealista.com/inmueble/104577954/',
   'distance': '220',
   'description': '¡No pierdas la oportunidad de adquirir este magnífico piso completamente reformado en San Pablo B! Con una superficie de 67m² y ubicado en la cuarta planta sin ascensor, cuenta con dos dormitorios, un baño completo y un amplio salón comedor. Además, la cocina independiente y completamente amueblada te permitirá cocinar cómodamente en tu nuevo hogar. Dispone de trastero. Disfruta de de vivir en una zona con todos los servicios necesarios a tu alcance, como comercios, supermercados y colegios cercanos. Además, la buena comunicación en transporte público te permitirá moverte por la ciudad con facilidad. Precio de venta no incluye impuestos, gastos de compraventa, notariales, registrales, honorarios de agencia ni gestión hipotecaria. ¡Te esperamos!',
   'hasVideo': True,
   'status': 'good',
   'newDevelopment': False,
   'hasLift': False,
   'priceByArea': 1418.0,
   'detailedType': {'typology': 'flat'},
   'suggestedTexts': {'subtitle': 'San Pablo, Sevilla', 'title': 'Piso'},
   'hasPlan': True,
   'has3DTour': False,
   'has360': False,
   'hasStaging': False,
   'highlight': {'groupDescription': 'Destacado'},
   'topNewDevelopment': False,
   'topPlus': False},
  {'propertyCode': '104088494',
   'thumbnail': 'https://img3.idealista.com/blur/WEB_LISTING/0/id.pro.es.image.master/9c/39/26/1209406485.jpg',
   'numPhotos': 23,
   'floor': '12',
   'price': 187000.0,
   'priceInfo': {'price': {'amount': 187000.0}},
   'propertyType': 'flat',
   'operation': 'sale',
   'size': 125.0,
   'exterior': True,
   'rooms': 4,
   'bathrooms': 2,
   'address': 'avenida de la Solea',
   'province': 'Sevilla',
   'municipality': 'Sevilla',
   'district': 'San Pablo',
   'country': 'es',
   'neighborhood': 'San Pablo',
   'latitude': 37.39222,
   'longitude': -5.964959,
   'showAddress': False,
   'url': 'https://www.idealista.com/inmueble/104088494/',
   'distance': '259',
   'description': '¡Increíble oportunidad de vivienda en el Barrio de San Pablo! Este luminoso piso de 125m² en la planta 12 te ofrece unas vistas espectaculares y una ubicación inmejorable.  Con 3 dormitorios, 2 baños, cocina, salón comedor y mucha luz natural, es el hogar ideal para tu familia.  Además, cuenta con servicios cercanos, como supermercados, farmacias y transporte público. A tan solo 10 minutos del centro de Sevilla en autobús, ¡no dejes pasar esta oportunidad!  Honorarios de agencia del 3%. ¡Contacta con nosotros ya!',
   'hasVideo': True,
   'status': 'renew',
   'newDevelopment': False,
   'hasLift': True,
   'priceByArea': 1496.0,
   'detailedType': {'typology': 'flat'},
   'suggestedTexts': {'subtitle': 'San Pablo, Sevilla',
    'title': 'Piso en avenida de la Solea'},
   'hasPlan': False,
   'has3DTour': False,
   'has360': False,
   'hasStaging': False,
   'topNewDevelopment': False,
   'topPlus': False},
  {'propertyCode': '104583410',
   'thumbnail': 'https://img3.idealista.com/blur/WEB_LISTING/0/id.pro.es.image.master/3d/f8/d5/1225145155.jpg',
   'externalReference': 'V-SPA-513',
   'numPhotos': 25,
   'floor': '1',
   'price': 99995.0,
   'priceInfo': {'price': {'amount': 99995.0}},
   'propertyType': 'flat',
   'operation': 'sale',
   'size': 53.0,
   'exterior': True,
   'rooms': 2,
   'bathrooms': 1,
   'address': 'barrio San Pablo',
   'province': 'Sevilla',
   'municipality': 'Sevilla',
   'district': 'San Pablo',
   'country': 'es',
   'neighborhood': 'San Pablo',
   'latitude': 37.3924503,
   'longitude': -5.965462,
   'showAddress': False,
   'url': 'https://www.idealista.com/inmueble/104583410/',
   'distance': '310',
   'description': 'Piso en San Pablo barrio A en primera planta sin ascensor, distribuidos en salón-comedor, cocina independiente, 2 dormitorios dobles, y un baño. Llama para reservar tu plaza en el DIRECTO que tendremos en los próximos días para que puedas tener la OPORTUNIDAD de ver en exclusiva la presentación en streaming de esta magnifica vivienda (plazas limitadas). Para finalizar nos gustaría informar a los clientes que los honorarios a percibir por RGMFincas Inmobiliaria serán del 4%+IVA (mínimo 6.655€ con IVA incluido). Los gastos de notaría, gestoría, impuesto de transmisiones patrimoniales y registro no están incluidos en el precio.',
   'hasVideo': False,
   'status': 'good',
   'newDevelopment': False,
   'hasLift': False,
   'priceByArea': 1887.0,
   'detailedType': {'typology': 'flat'},
   'suggestedTexts': {'subtitle': 'San Pablo, Sevilla', 'title': 'Piso'},
   'hasPlan': False,
   'has3DTour': False,
   'has360': False,
   'hasStaging': False,
   'highlight': {'groupDescription': 'Top'},
   'topNewDevelopment': False,
   'topPlus': False},
  {'propertyCode': '103550397',
   'thumbnail': 'https://img3.idealista.com/blur/WEB_LISTING/0/id.pro.es.image.master/05/82/b3/1193044319.jpg',
   'externalReference': 'CAN0000197397',
   'numPhotos': 25,
   'floor': '2',
   'price': 270000.0,
   'priceInfo': {'price': {'amount': 270000.0}},
   'propertyType': 'flat',
   'operation': 'sale',
   'size': 91.0,
   'rooms': 2,
   'bathrooms': 1,
   'address': 'avenida de Andalucía',
   'province': 'Sevilla',
   'municipality': 'Sevilla',
   'district': 'Nervión',
   'country': 'es',
   'neighborhood': 'Gran Plaza - Marqués de Pickman - Ciudad Jardín',
   'latitude': 37.3886822,
   'longitude': -5.9609673,
   'showAddress': False,
   'url': 'https://www.idealista.com/inmueble/103550397/',
   'distance': '311',
   'description': 'Os presentamos este piso situado en Sevilla. La vivienda se distribuye en dos habitaciones, salón-comedor, cocina, un baño y un balcón. Situado en la 2a planta del edificio. Está situado en el centro de Sevilla. En sus alrededores encontramos el Hospital San Juan de Dios, escuelas, supermercados, bancos, bibliotecas, farmacias, oficinas de correos, varias paradas de autobús y la estación de metro 1º de Mayo. En términos de accesibilidad, la propiedad dispone de múltiples conexiones y cuenta con fácil acceso a A-92. En Aliseda Inmobiliaria tenemos la mayor oferta de inmuebles al mejor precio garantizado. Descubre nuestra amplia oferta inmobiliaria y no pierdas la oportunidad de encontrar la casa perfecta para ti.',
   'hasVideo': True,
   'status': 'good',
   'newDevelopment': False,
   'hasLift': True,
   'priceByArea': 2967.0,
   'detailedType': {'typology': 'flat'},
   'suggestedTexts': {'subtitle': 'Gran Plaza - Marqués de Pickman - Ciudad Jardín, Sevilla',
    'title': 'Piso en avenida de Andalucía'},
   'hasPlan': True,
   'has3DTour': False,
   'has360': True,
   'hasStaging': False,
   'highlight': {'groupDescription': 'Destacado'},
   'topNewDevelopment': False,
   'topPlus': False},
  {'propertyCode': '102916820',
   'thumbnail': 'https://img3.idealista.com/blur/WEB_LISTING/0/id.pro.es.image.master/26/e3/69/1213447926.jpg',
   'externalReference': 'CS-19198-0001',
   'numPhotos': 1,
   'floor': '3',
   'price': 44900.0,
   'priceInfo': {'price': {'amount': 44900.0}},
   'propertyType': 'flat',
   'operation': 'sale',
   'size': 54.0,
   'rooms': 3,
   'bathrooms': 1,
   'address': 'barrio San Pablo',
   'province': 'Sevilla',
   'municipality': 'Sevilla',
   'district': 'San Pablo',
   'country': 'es',
   'neighborhood': 'San Pablo',
   'latitude': 37.3941273,
   'longitude': -5.9635706,
   'showAddress': False,
   'url': 'https://www.idealista.com/inmueble/102916820/',
   'distance': '336',
   'description': 'Vivienda piso situado en un edificio residencial en la ciudad de Sevilla.',
   'hasVideo': False,
   'status': 'good',
   'newDevelopment': False,
   'hasLift': False,
   'priceByArea': 831.0,
   'detailedType': {'typology': 'flat'},
   'suggestedTexts': {'subtitle': 'San Pablo, Sevilla', 'title': 'Piso'},
   'hasPlan': False,
   'has3DTour': False,
   'has360': False,
   'hasStaging': False,
   'topNewDevelopment': False,
   'topPlus': False},
  {'propertyCode': '104717854',
   'thumbnail': 'https://img3.idealista.com/blur/WEB_LISTING/0/id.pro.es.image.master/1e/fb/34/1229540822.jpg',
   'externalReference': 'San Pablo',
   'numPhotos': 8,
   'floor': 'en',
   'price': 95000.0,
   'priceInfo': {'price': {'amount': 95000.0}},
   'propertyType': 'flat',
   'operation': 'sale',
   'size': 65.0,
   'exterior': True,
   'rooms': 2,
   'bathrooms': 1,
   'address': 'barrio San Pablo',
   'province': 'Sevilla',
   'municipality': 'Sevilla',
   'district': 'San Pablo',
   'country': 'es',
   'neighborhood': 'San Pablo',
   'latitude': 37.3936418,
   'longitude': -5.9646666,
   'showAddress': False,
   'url': 'https://www.idealista.com/inmueble/104717854/',
   'distance': '336',
   'description': 'Se vende piso en San Pablo en PLANTA BAJA, próximo a centro comercial Los Arcos y a 5 minutos de la estación de Santa Justa. La vivienda cuenta con 65 m2 distribuidos de la siguiente forma: Salón comedor con A/A, dos habitaciones (antes 3), un cuarto de baño con placa de ducha y una amplia cocina. Muy luminoso y en buen estado. Con todo tipo de comercios y servicios a su alcance, parque infantil, supermercados, comercios de barrio, etc. ¡VISITELO!',
   'hasVideo': False,
   'status': 'good',
   'newDevelopment': False,
   'hasLift': False,
   'priceByArea': 1462.0,
   'detailedType': {'typology': 'flat'},
   'suggestedTexts': {'subtitle': 'San Pablo, Sevilla', 'title': 'Piso'},
   'hasPlan': False,
   'has3DTour': False,
   'has360': False,
   'hasStaging': False,
   'topNewDevelopment': False,
   'topPlus': False},
  {'propertyCode': '104669506',
   'thumbnail': 'https://img3.idealista.com/blur/WEB_LISTING/0/id.pro.es.image.master/62/77/38/1227998677.jpg',
   'externalReference': 'manuel-22041',
   'numPhotos': 13,
   'floor': '3',
   'price': 128000.0,
   'priceInfo': {'price': {'amount': 128000.0}},
   'propertyType': 'flat',
   'operation': 'sale',
   'size': 77.0,
   'exterior': True,
   'rooms': 2,
   'bathrooms': 1,
   'address': 'calle Bizancio',
   'province': 'Sevilla',
   'municipality': 'Sevilla',
   'district': 'San Pablo',
   'country': 'es',
   'neighborhood': 'San Pablo',
   'latitude': 37.3933257,
   'longitude': -5.9591245,
   'showAddress': False,
   'url': 'https://www.idealista.com/inmueble/104669506/',
   'distance': '358',
   'description': 'CREDIT HOME SEVILLA REAL ESTATE ofrece PISO en San Pablo, Sevilla. El inmueble cuenta con 76 metros cuadrados construidos, distribuidos en dos amplias habitaciones, baño completo, cocina independiente y salón.  El piso está de orígen, pero muy cuidado. Ubicado cerca del La Avenida de Kansas City a escasos metros de La Estación de Santa Justa. Rodeada de comercios, bares, clínicas, restaurantes, colegios, etc.. . Es lo que estás buscando? No dudes en visitarla, le atendemos sin compromiso! Le atendemos también por WhatsApp. En CREDIT HOME SEVILLA REAL ESTATE, trabajamos para ofrecer a nuestros clientes su vivienda soñada. Cubrimos todas las necesidades demandadas: casas, pisos, locales, terrenos, oficinas, etc. y ofrecemos a nuestros clientes asesoramiento inmobiliario y financiero. Si necesitas financiación, nuestra oficina cuenta con profesionales en el área que te brindarán seguridad, rentabilidad y la mejor oferta del mercado. Honorarios de intermediación inmobiliaria no incluidos en el precio, no están incluidos los gastos propios de la compraventa. Documento D. I. A. a disposición del consumidor según Decreto 218/2005 Junta de Andalucía. " ¡Solicítenos más información sin compromiso!',
   'hasVideo': False,
   'status': 'good',
   'newDevelopment': False,
   'hasLift': True,
   'priceByArea': 1662.0,
   'detailedType': {'typology': 'flat'},
   'suggestedTexts': {'subtitle': 'San Pablo, Sevilla',
    'title': 'Piso en calle Bizancio'},
   'hasPlan': False,
   'has3DTour': False,
   'has360': False,
   'hasStaging': False,
   'highlight': {'groupDescription': 'Destacado'},
   'topNewDevelopment': False,
   'topPlus': False},
  {'propertyCode': '104455365',
   'thumbnail': 'https://img3.idealista.com/blur/WEB_LISTING/0/id.pro.es.image.master/7b/0f/53/1221285538.jpg',
   'numPhotos': 21,
   'floor': '2',
   'price': 107000.0,
   'priceInfo': {'price': {'amount': 107000.0}},
   'propertyType': 'flat',
   'operation': 'sale',
   'size': 75.0,
   'exterior': True,
   'rooms': 3,
   'bathrooms': 1,
   'address': 'calle Hebrón',
   'province': 'Sevilla',
   'municipality': 'Sevilla',
   'district': 'San Pablo',
   'country': 'es',
   'neighborhood': 'San Pablo',
   'latitude': 37.3940569,
   'longitude': -5.9600355,
   'showAddress': False,
   'url': 'https://www.idealista.com/inmueble/104455365/',
   'distance': '365',
   'description': 'Vivienda en San Pablo ( Barrio C )  ¡ ASCENSOR PAGADO, EN PROCESO DE OBRA INMINENTE! Negociable!   Piso de 3 habitaciones en Barrio C de SAN PABLO Características: - 3 Dormitorios. - 1 Baño, grande con bañera. - Salón-comedor. - Terraza. - Cocina. - Aire Acondicionado "Split" de frio - calor. En salón y habitación principal. "Inverter" (bajo consumo energético). - Electricidad actualizada. - 65 metros útiles. - Paredes de gota, suelos de terrazo, ventanas de aluminio lacado blanco, persianas habitaciones nuevas.. . - 30 € de Comunidad. - Gas Natural. Si necesitas asesoramiento financiero es Gratuito! Honorarios por la intermediación inmobiliaria de 3.000€ + IVA.',
   'hasVideo': False,
   'status': 'good',
   'newDevelopment': False,
   'hasLift': False,
   'priceByArea': 1427.0,
   'detailedType': {'typology': 'flat'},
   'suggestedTexts': {'subtitle': 'San Pablo, Sevilla',
    'title': 'Piso en calle Hebrón'},
   'hasPlan': False,
   'has3DTour': False,
   'has360': False,
   'hasStaging': False,
   'topNewDevelopment': False,
   'topPlus': False},
  {'propertyCode': '103772430',
   'thumbnail': 'https://img3.idealista.com/blur/WEB_LISTING/0/id.pro.es.image.master/c6/7d/dc/1200808811.jpg',
   'externalReference': '1B4101168',
   'numPhotos': 24,
   'floor': '1',
   'price': 248000.0,
   'priceInfo': {'price': {'amount': 248000.0}},
   'propertyType': 'flat',
   'operation': 'sale',
   'size': 67.0,
   'exterior': True,
   'rooms': 2,
   'bathrooms': 2,
   'address': 'calle Santa Elena',
   'province': 'Sevilla',
   'municipality': 'Sevilla',
   'district': 'Nervión',
   'country': 'es',
   'neighborhood': 'Nervión',
   'latitude': 37.388416,
   'longitude': -5.964594,
   'showAddress': False,
   'url': 'https://www.idealista.com/inmueble/103772430/',
   'distance': '379',
   'description': 'VIVIENDA 2 dormitorios EN NERVIÓN.   Muy bien ubicada en zona calle Beatriz de Suabia a la altura de Luis Montoto.   Todos los servicios a pie de calle (supermercados, farmacias, colegios, restaurantes) y bien comunicada mediante paradas de autobuses, parada de metro y el próximo año conexión de tranvía al centro histórico.   Vivienda en planta primera, el piso esta distribuido con salón-comedor con cocina independiente y 2 baños; 2 dormitorios, el dormitorio principal tipo suit con baño incorporado, armarios empotrados.     Calidades: Máximo nivel de calidades, ventanas PVC con doble acristalamiento tipo Climalit de primeras marcas en sanitarios, suelo de madera y en solería de azulejos en baño. Aire acondicionado frio/calor y agua caliente por Aerotermia.   OPCIONAL: Vivienda + plaza de garaje nº 1 + trastero nº 1 = 272.000 €   El precio indicado incluye los honorarios por servicios de intermediación inmobiliaria, no se incluyen los gastos de notaría, registro y gestoría ni los tributos que puedan corresponderle al comprador/a.',
   'hasVideo': True,
   'status': 'good',
   'newDevelopment': False,
   'hasLift': True,
   'parkingSpace': {'hasParkingSpace': True,
    'isParkingSpaceIncludedInPrice': False,
    'parkingSpacePrice': 30000.0},
   'priceByArea': 3701.0,
   'detailedType': {'typology': 'flat'},
   'suggestedTexts': {'subtitle': 'Nervión, Sevilla',
    'title': 'Piso en calle Santa Elena'},
   'hasPlan': True,
   'has3DTour': False,
   'has360': False,
   'hasStaging': False,
   'highlight': {'groupDescription': 'Destacado'},
   'topNewDevelopment': False,
   'topPlus': False},
  {'propertyCode': '103792876',
   'thumbnail': 'https://img3.idealista.com/blur/WEB_LISTING/0/id.pro.es.image.master/29/e5/4c/1200347150.jpg',
   'numPhotos': 99,
   'price': 710000.0,
   'priceInfo': {'price': {'amount': 710000.0}},
   'propertyType': 'chalet',
   'operation': 'sale',
   'size': 207.0,
   'rooms': 4,
   'bathrooms': 4,
   'address': 'calle María Josefa Segovia',
   'province': 'Sevilla',
   'municipality': 'Sevilla',
   'district': 'Nervión',
   'country': 'es',
   'neighborhood': 'Luis Montoto - Santa Justa',
   'latitude': 37.3892902,
   'longitude': -5.9658046,
   'showAddress': False,
   'url': 'https://www.idealista.com/inmueble/103792876/',
   'distance': '383',

In [ ]:
total_pages = results['totalPages']
total_pages

203

In [ ]:
def results_to_df(results):
    '''
    This function will save the json results as a dataframe and return the resulting dataframe
    '''
    df = pd.DataFrame.from_dict(results['elementList'])

    return df

In [ ]:
def concat_df(df, df_tot):
    '''
    This function will take the main dataframe (df_tot), and concat it with the given individual dataframe,
    returning the main dataframe
    '''
    df_tot = pd.concat([df_tot,df])

    return df_tot

In [ ]:
# Proceed to save the obtained results as a dataframe
df = results_to_df(results)
df

,propertyCode,thumbnail,numPhotos,floor,price,priceInfo,propertyType,operation,size,exterior,...,has3DTour,has360,hasStaging,topNewDevelopment,topPlus,highlight,externalReference,parkingSpace,newDevelopmentFinished,labels
0,104379438,https://img3.idealista.com/blur/WEB_LISTING/0/...,14,1,114000.0,"{'price': {'amount': 114000.0, 'priceDropInfo'...",flat,sale,90.0,True,...,False,False,False,False,False,NaN,NaN,NaN,NaN,NaN
1,104577954,https://img3.idealista.com/blur/WEB_LISTING/0/...,24,4,95000.0,{'price': {'amount': 95000.0}},flat,sale,67.0,True,...,False,False,False,False,False,{'groupDescription': 'Destacado'},NaN,NaN,NaN,NaN
2,104088494,https://img3.idealista.com/blur/WEB_LISTING/0/...,23,12,187000.0,{'price': {'amount': 187000.0}},flat,sale,125.0,True,...,False,False,False,False,False,NaN,NaN,NaN,NaN,NaN
3,104583410,https://img3.idealista.com/blur/WEB_LISTING/0/...,25,1,99995.0,{'price': {'amount': 99995.0}},flat,sale,53.0,True,...,False,False,False,False,False,{'groupDescription': 'Top'},V-SPA-513,NaN,NaN,NaN
4,103550397,https://img3.idealista.com/blur/WEB_LISTING/0/...,25,2,270000.0,{'price': {'amount': 270000.0}},flat,sale,91.0,NaN,...,False,True,False,False,False,{'groupDescription': 'Destacado'},CAN0000197397,NaN,NaN,NaN
5,102916820,https://img3.idealista.com/blur/WEB_LISTING/0/...,1,3,44900.0,{'price': {'amount': 44900.0}},flat,sale,54.0,NaN,...,False,False,False,False,False,NaN,CS-19198-0001,NaN,NaN,NaN
6,104717854,https://img3.idealista.com/blur/WEB_LISTING/0/...,8,en,95000.0,{'price': {'amount': 95000.0}},flat,sale,65.0,True,...,False,False,False,False,False,NaN,San Pablo,NaN,NaN,NaN
7,104669506,https://img3.idealista.com/blur/WEB_LISTING/0/...,13,3,128000.0,{'price': {'amount': 128000.0}},flat,sale,77.0,True,...,False,False,False,False,False,{'groupDescription': 'Destacado'},manuel-22041,NaN,NaN,NaN
8,104455365,https://img3.idealista.com/blur/WEB_LISTING/0/...,21,2,107000.0,{'price': {'amount': 107000.0}},flat,sale,75.0,True,...,False,False,False,False,False,NaN,NaN,NaN,NaN,NaN
9,103772430,https://img3.idealista.com/blur/WEB_LISTING/0/...,24,1,248000.0,{'price': {'amount': 248000.0}},flat,sale,67.0,True,...,False,False,False,False,False,{'groupDescription': 'Destacado'},1B4101168,"{'hasParkingSpace': True, 'isParkingSpaceInclu...",NaN,NaN
10,103792876,https://img3.idealista.com/blur/WEB_LISTING/0/...,99,NaN,710000.0,{'price': {'amount': 710000.0}},chalet,sale,207.0,NaN,...,False,True,False,False,False,{'groupDescription': 'Top'},NaN,"{'hasParkingSpace': True, 'isParkingSpaceInclu...",NaN,NaN
11,104470837,https://img3.idealista.com/blur/WEB_LISTING/0/...,20,12,396000.0,{'price': {'amount': 396000.0}},flat,sale,124.0,NaN,...,False,False,False,False,False,{'groupDescription': 'Top'},100096672,NaN,False,NaN
12,104470805,https://img3.idealista.com/blur/WEB_LISTING/0/...,20,NaN,341500.0,{'price': {'amount': 341500.0}},flat,sale,112.0,NaN,...,False,False,False,False,False,{'groupDescription': 'Top'},100096584,NaN,False,NaN
13,104470820,https://img3.idealista.com/blur/WEB_LISTING/0/...,20,NaN,418000.0,{'price': {'amount': 418000.0}},flat,sale,140.0,NaN,...,False,False,False,False,False,{'groupDescription': 'Top'},100096588,NaN,False,NaN
14,104470836,https://img3.idealista.com/blur/WEB_LISTING/0/...,20,10,415000.0,{'price': {'amount': 415000.0}},flat,sale,136.0,NaN,...,False,False,False,False,False,NaN,100096662,NaN,False,NaN
15,104470824,https://img3.idealista.com/blur/WEB_LISTING/0/...,20,NaN,397500.0,{'price': {'amount': 397500.0}},flat,sale,136.0,NaN,...,False,False,False,False,False,NaN,100096646,NaN,False,NaN
16,104470825,https://img3.idealista.com/blur/WEB_LISTING/0/...,20,NaN,453500.0,{'price': {'amount': 453500.0}},flat,sale,148.0,NaN,...,False,False,False,False,False,NaN,100096653,NaN,False,NaN
17,104470822,https://img3.idealista.com/blur/WEB_LISTING/0/...,20,NaN,439500.0,{'price': {'amount': 439500.0}},flat,sale,148.0,NaN,...,False,False,False,False,False,NaN,100096637,NaN,False,NaN
18,104470821,https://img3.idealista.com/blur/WEB_LISTING/0/...,20,NaN,444500.0,{'price': {'amount': 444500.0}},flat,sale,147.0,NaN,...,False,False,False,False,False,NaN,100096593,NaN,False,NaN
19,104718792,https://img3.idealista.com/blur/WEB_LISTING/0/...,16,2,230000.0,{'price': {'amount': 230000.0}},flat,sale,84.0,True,...,False,False,False,False,False,NaN,NaN,NaN,NaN,NaN
20,104526227,https://img3.idealista.com/blur/WEB_LISTING/0/...,34,1,120000.0,{'price': {'amount': 120000.0}},flat,sale,57.0,True,...,False,False,False,False,False,NaN,17008131,NaN,NaN,NaN
21,104441577,https://img3.idealista.com/blur/WEB_LISTING/0/...,21,bj,126000.0,"{'price': {'amount': 126000.0, 'priceDropInfo'...",flat,sale,60.0,True,...,False,False,False,False,False,{'groupDescription': 'Destacado'},LCSE29510,NaN,NaN,NaN
22,104506308,https://img3.idealista.com/blur/WEB_LISTING/0/...,22,2,99995.0,{'price': {'amount': 99995.0}},flat,sale,54.0,True,...,False,False,False,False,False,{'groupDescription': 'Top'},V-SPA-512,NaN,NaN,NaN
23,104342018,https://img3.idealista.com/blur/WEB_LISTING/0/...,12,12,187000.0,{'price': {'amount': 187000.0}},flat,sale,125.0,True,...,False,False,False,False,False,NaN,PIS_166,NaN,NaN,NaN
24,103790202,https://img3.idealista.com/blur/WEB_LISTING/0/...,24,bj,239000.0,"{'price': {'amount': 239000.0, 'priceDropInfo'...",flat,sale,97.0,True,...,False,False,False,False,False,{'groupDescription': 'Destacado'},NERVION,"{'hasParkingSpace': True, 'isParkingSpaceInclu...",NaN,NaN
25,100370751,https://img3.idealista.com/blur/WEB_LISTING/0/...,30,NaN,365000.0,{'price': {'amount': 365000.0}},chalet,sale,165.0,NaN,...,True,False,False,False,False,{'groupDescription': 'Destacado'},SJ182249,NaN,NaN,NaN
26,104268332,https://img3.idealista.com/blur/WEB_LISTING/0/...,26,2,495000.0,{'price': {'amount': 495000.0}},flat,sale,128.0,True,...,False,False,False,False,False,NaN,NaN,"{'hasParkingSpace': True, 'isParkingSpaceInclu...",NaN,NaN
27,103979844,https://img3.idealista.com/blur/WEB_LISTING/0/...,18,10,139900.0,{'price': {'amount': 139900.0}},flat,sale,95.0,True,...,False,False,False,False,False,{'groupDescription': 'Top'},V-SPC-502,NaN,NaN,NaN
28,104343263,https://img3.idealista.com/blur/WEB_LISTING/0/...,9,1,285000.0,{'price': {'amount': 285000.0}},flat,sale,76.0,True,...,False,False,False,False,False,NaN,VIDE10617870011,NaN,False,NaN
29,104343239,https://img3.idealista.com/blur/WEB_LISTING/0/...,9,1,272000.0,{'price': {'amount': 272000.0}},flat,sale,75.0,True,...,False,False,False,False,False,NaN,VIDE10617870010,NaN,False,NaN
30,104343194,https://img3.idealista.com/blur/WEB_LISTING/0/...,9,2,395000.0,{'price': {'amount': 395000.0}},flat,sale,103.0,True,...,False,False,False,False,False,NaN,VIDE10617870020,NaN,False,NaN
31,104343254,https://img3.idealista.com/blur/WEB_LISTING/0/...,9,3,385000.0,{'price': {'amount': 385000.0}},flat,sale,104.0,True,...,False,False,False,False,False,NaN,VIDE10617870029,NaN,False,NaN
32,104343253,https://img3.idealista.com/blur/WEB_LISTING/0/...,9,1,440000.0,{'price': {'amount': 440000.0}},flat,sale,122.0,True,...,False,False,False,False,False,NaN,VIDE10617870015,NaN,False,NaN
33,104342866,https://img3.idealista.com/blur/WEB_LISTING/0/...,4,1,450000.0,{'price': {'amount': 450000.0}},flat,sale,123.0,True,...,False,False,False,False,False,NaN,VIDE07779100002,NaN,False,NaN
34,104342853,https://img3.idealista.com/blur/WEB_LISTING/0/...,4,2,380000.0,{'price': {'amount': 380000.0}},flat,sale,101.0,True,...,False,False,False,False,False,NaN,VIDE07779100007,NaN,False,NaN
35,104342874,https://img3.idealista.com/blur/WEB_LISTING/0/...,4,1,280000.0,{'price': {'amount': 280000.0}},flat,sale,76.0,True,...,False,False,False,False,False,NaN,VIDE07779100004,NaN,False,NaN
36,103389259,https://img3.idealista.com/blur/WEB_LISTING/0/...,11,2,220000.0,{'price': {'amount': 220000.0}},flat,sale,105.0,True,...,False,False,False,False,False,NaN,PIS_162,NaN,NaN,NaN
37,92667819,https://img3.idealista.com/blur/WEB_LISTING/0/...,20,2,306000.0,{'price': {'amount': 306000.0}},flat,sale,83.0,False,...,False,False,False,False,False,{'groupDescription': 'Destacado'},031506ON,"{'hasParkingSpace': True, 'isParkingSpaceInclu...",NaN,NaN
38,104389177,https://img3.idealista.com/blur/WEB_LISTING/0/...,23,bj,126000.0,"{'price': {'amount': 126000.0, 'priceDropInfo'...",flat,sale,60.0,True,...,False,False,False,False,False,{'groupDescription': 'Destacado'},NaN,NaN,NaN,NaN
39,104091571,https://img3.idealista.com/blur/WEB_LISTING/0/...,34,2,159900.0,{'price': {'amount': 159900.0}},flat,sale,61.0,True,...,False,False,False,False,False,NaN,NaN,NaN,NaN,NaN
40,103930456,https://img3.idealista.com/blur/WEB_LISTING/0/...,31,NaN,480000.0,{'price': {'amount': 480000.0}},chalet,sale,184.0,NaN,...,False,False,False,False,False,{'groupDescription': 'Destacado'},NaN,NaN,NaN,NaN
41,103925012,https://img3.idealista.com/blur/WEB_LISTING/0/...,16,bj,349684.0,{'price': {'amount': 349684.0}},flat,sale,120.0,True,...,False,False,False,False,False,NaN,Bajo,NaN,False,NaN
42,104358396,https://img3.idealista.com/blur/WEB_LISTING/0/...,14,3,349684.0,{'price': {'amount': 349684.0}},duplex,sale,138.0,True,...,False,False,False,False,False,NaN,NaN,NaN,False,NaN
43,104358379,https://img3.idealista.com/blur/WEB_LISTING/0/...,14,1,349684.0,{'price': {'amount': 349684.0}},flat,sale,132.0,True,...,False,False,False,False,False,NaN,NaN,NaN,False,NaN
44,103912731,https://img3.idealista.com/blur/WEB_LISTING/0/...,23,2,270000.0,"{'price': {'amount': 270000.0, 'priceDropInfo'...",flat,sale,96.0,True,...,False,False,False,False,False,NaN,AV.AND20,NaN,NaN,NaN
45,103619303,https://img3.idealista.com/blur/WEB_LISTING/0/...,82,2,270000.0,{'price': {'amount': 270000.0}},flat,sale,96.0,True,...,False,False,False,False,False,NaN,NaN,NaN,NaN,NaN
46,104010645,https://img3.idealista.com/blur/WEB_LISTING/0/...,35,5,249990.0,{'price': {'amount': 249990.0}},flat,sale,163.0,True,...,False,False,False,False,False,{'groupDescription': 'Destacado'},NaN,NaN,NaN,NaN
47,104670035,https://img3.idealista.com/blur/WEB_LISTING/0/...,10,3,455000.0,{'price': {'amount': 455000.0}},duplex,sale,138.0,True,...,False,False,False,False,False,{'groupDescription': 'Destacado'},492-6,"{'hasParkingSpace': True, 'isParkingSpaceInclu...",NaN,"[{'name': 'bright', 'text': 'Luminoso'}]"
48,104669907,https://img3.idealista.com/blur/WEB_LISTING/0/...,10,2,440000.0,{'price': {'amount': 440000.0}},flat,sale,129.0,True,...,False,False,False,False,False,NaN,492-4,"{'hasParkingSpace': True, 'isParkingSpaceInclu...",NaN,NaN
49,104660634,https://img3.idealista.com/blur/WEB_LISTING/0/...,10,en,435000.0,{'price': {'amount': 435000.0}},flat,sale,137.0,True,...,False,False,False,False,False,NaN,492-1,"{'hasParkingSpace': True, 'isParkingSpaceInclu...",NaN,NaN

In [ ]:
# Since we still don't have a main dataframe where we can store all the data, we will create an empty dataframe
df_tot = pd.DataFrame()
df_tot = concat_df(df, df_tot)

In [ ]:
df_tot

,propertyCode,thumbnail,numPhotos,floor,price,priceInfo,propertyType,operation,size,exterior,...,has3DTour,has360,hasStaging,topNewDevelopment,topPlus,highlight,externalReference,parkingSpace,newDevelopmentFinished,labels
0,104379438,https://img3.idealista.com/blur/WEB_LISTING/0/...,14,1,114000.0,"{'price': {'amount': 114000.0, 'priceDropInfo'...",flat,sale,90.0,True,...,False,False,False,False,False,NaN,NaN,NaN,NaN,NaN
1,104577954,https://img3.idealista.com/blur/WEB_LISTING/0/...,24,4,95000.0,{'price': {'amount': 95000.0}},flat,sale,67.0,True,...,False,False,False,False,False,{'groupDescription': 'Destacado'},NaN,NaN,NaN,NaN
2,104088494,https://img3.idealista.com/blur/WEB_LISTING/0/...,23,12,187000.0,{'price': {'amount': 187000.0}},flat,sale,125.0,True,...,False,False,False,False,False,NaN,NaN,NaN,NaN,NaN
3,104583410,https://img3.idealista.com/blur/WEB_LISTING/0/...,25,1,99995.0,{'price': {'amount': 99995.0}},flat,sale,53.0,True,...,False,False,False,False,False,{'groupDescription': 'Top'},V-SPA-513,NaN,NaN,NaN
4,103550397,https://img3.idealista.com/blur/WEB_LISTING/0/...,25,2,270000.0,{'price': {'amount': 270000.0}},flat,sale,91.0,NaN,...,False,True,False,False,False,{'groupDescription': 'Destacado'},CAN0000197397,NaN,NaN,NaN
5,102916820,https://img3.idealista.com/blur/WEB_LISTING/0/...,1,3,44900.0,{'price': {'amount': 44900.0}},flat,sale,54.0,NaN,...,False,False,False,False,False,NaN,CS-19198-0001,NaN,NaN,NaN
6,104717854,https://img3.idealista.com/blur/WEB_LISTING/0/...,8,en,95000.0,{'price': {'amount': 95000.0}},flat,sale,65.0,True,...,False,False,False,False,False,NaN,San Pablo,NaN,NaN,NaN
7,104669506,https://img3.idealista.com/blur/WEB_LISTING/0/...,13,3,128000.0,{'price': {'amount': 128000.0}},flat,sale,77.0,True,...,False,False,False,False,False,{'groupDescription': 'Destacado'},manuel-22041,NaN,NaN,NaN
8,104455365,https://img3.idealista.com/blur/WEB_LISTING/0/...,21,2,107000.0,{'price': {'amount': 107000.0}},flat,sale,75.0,True,...,False,False,False,False,False,NaN,NaN,NaN,NaN,NaN
9,103772430,https://img3.idealista.com/blur/WEB_LISTING/0/...,24,1,248000.0,{'price': {'amount': 248000.0}},flat,sale,67.0,True,...,False,False,False,False,False,{'groupDescription': 'Destacado'},1B4101168,"{'hasParkingSpace': True, 'isParkingSpaceInclu...",NaN,NaN
10,103792876,https://img3.idealista.com/blur/WEB_LISTING/0/...,99,NaN,710000.0,{'price': {'amount': 710000.0}},chalet,sale,207.0,NaN,...,False,True,False,False,False,{'groupDescription': 'Top'},NaN,"{'hasParkingSpace': True, 'isParkingSpaceInclu...",NaN,NaN
11,104470837,https://img3.idealista.com/blur/WEB_LISTING/0/...,20,12,396000.0,{'price': {'amount': 396000.0}},flat,sale,124.0,NaN,...,False,False,False,False,False,{'groupDescription': 'Top'},100096672,NaN,False,NaN
12,104470805,https://img3.idealista.com/blur/WEB_LISTING/0/...,20,NaN,341500.0,{'price': {'amount': 341500.0}},flat,sale,112.0,NaN,...,False,False,False,False,False,{'groupDescription': 'Top'},100096584,NaN,False,NaN
13,104470820,https://img3.idealista.com/blur/WEB_LISTING/0/...,20,NaN,418000.0,{'price': {'amount': 418000.0}},flat,sale,140.0,NaN,...,False,False,False,False,False,{'groupDescription': 'Top'},100096588,NaN,False,NaN
14,104470836,https://img3.idealista.com/blur/WEB_LISTING/0/...,20,10,415000.0,{'price': {'amount': 415000.0}},flat,sale,136.0,NaN,...,False,False,False,False,False,NaN,100096662,NaN,False,NaN
15,104470824,https://img3.idealista.com/blur/WEB_LISTING/0/...,20,NaN,397500.0,{'price': {'amount': 397500.0}},flat,sale,136.0,NaN,...,False,False,False,False,False,NaN,100096646,NaN,False,NaN
16,104470825,https://img3.idealista.com/blur/WEB_LISTING/0/...,20,NaN,453500.0,{'price': {'amount': 453500.0}},flat,sale,148.0,NaN,...,False,False,False,False,False,NaN,100096653,NaN,False,NaN
17,104470822,https://img3.idealista.com/blur/WEB_LISTING/0/...,20,NaN,439500.0,{'price': {'amount': 439500.0}},flat,sale,148.0,NaN,...,False,False,False,False,False,NaN,100096637,NaN,False,NaN
18,104470821,https://img3.idealista.com/blur/WEB_LISTING/0/...,20,NaN,444500.0,{'price': {'amount': 444500.0}},flat,sale,147.0,NaN,...,False,False,False,False,False,NaN,100096593,NaN,False,NaN
19,104718792,https://img3.idealista.com/blur/WEB_LISTING/0/...,16,2,230000.0,{'price': {'amount': 230000.0}},flat,sale,84.0,True,...,False,False,False,False,False,NaN,NaN,NaN,NaN,NaN
20,104526227,https://img3.idealista.com/blur/WEB_LISTING/0/...,34,1,120000.0,{'price': {'amount': 120000.0}},flat,sale,57.0,True,...,False,False,False,False,False,NaN,17008131,NaN,NaN,NaN
21,104441577,https://img3.idealista.com/blur/WEB_LISTING/0/...,21,bj,126000.0,"{'price': {'amount': 126000.0, 'priceDropInfo'...",flat,sale,60.0,True,...,False,False,False,False,False,{'groupDescription': 'Destacado'},LCSE29510,NaN,NaN,NaN
22,104506308,https://img3.idealista.com/blur/WEB_LISTING/0/...,22,2,99995.0,{'price': {'amount': 99995.0}},flat,sale,54.0,True,...,False,False,False,False,False,{'groupDescription': 'Top'},V-SPA-512,NaN,NaN,NaN
23,104342018,https://img3.idealista.com/blur/WEB_LISTING/0/...,12,12,187000.0,{'price': {'amount': 187000.0}},flat,sale,125.0,True,...,False,False,False,False,False,NaN,PIS_166,NaN,NaN,NaN
24,103790202,https://img3.idealista.com/blur/WEB_LISTING/0/...,24,bj,239000.0,"{'price': {'amount': 239000.0, 'priceDropInfo'...",flat,sale,97.0,True,...,False,False,False,False,False,{'groupDescription': 'Destacado'},NERVION,"{'hasParkingSpace': True, 'isParkingSpaceInclu...",NaN,NaN
25,100370751,https://img3.idealista.com/blur/WEB_LISTING/0/...,30,NaN,365000.0,{'price': {'amount': 365000.0}},chalet,sale,165.0,NaN,...,True,False,False,False,False,{'groupDescription': 'Destacado'},SJ182249,NaN,NaN,NaN
26,104268332,https://img3.idealista.com/blur/WEB_LISTING/0/...,26,2,495000.0,{'price': {'amount': 495000.0}},flat,sale,128.0,True,...,False,False,False,False,False,NaN,NaN,"{'hasParkingSpace': True, 'isParkingSpaceInclu...",NaN,NaN
27,103979844,https://img3.idealista.com/blur/WEB_LISTING/0/...,18,10,139900.0,{'price': {'amount': 139900.0}},flat,sale,95.0,True,...,False,False,False,False,False,{'groupDescription': 'Top'},V-SPC-502,NaN,NaN,NaN
28,104343263,https://img3.idealista.com/blur/WEB_LISTING/0/...,9,1,285000.0,{'price': {'amount': 285000.0}},flat,sale,76.0,True,...,False,False,False,False,False,NaN,VIDE10617870011,NaN,False,NaN
29,104343239,https://img3.idealista.com/blur/WEB_LISTING/0/...,9,1,272000.0,{'price': {'amount': 272000.0}},flat,sale,75.0,True,...,False,False,False,False,False,NaN,VIDE10617870010,NaN,False,NaN
30,104343194,https://img3.idealista.com/blur/WEB_LISTING/0/...,9,2,395000.0,{'price': {'amount': 395000.0}},flat,sale,103.0,True,...,False,False,False,False,False,NaN,VIDE10617870020,NaN,False,NaN
31,104343254,https://img3.idealista.com/blur/WEB_LISTING/0/...,9,3,385000.0,{'price': {'amount': 385000.0}},flat,sale,104.0,True,...,False,False,False,False,False,NaN,VIDE10617870029,NaN,False,NaN
32,104343253,https://img3.idealista.com/blur/WEB_LISTING/0/...,9,1,440000.0,{'price': {'amount': 440000.0}},flat,sale,122.0,True,...,False,False,False,False,False,NaN,VIDE10617870015,NaN,False,NaN
33,104342866,https://img3.idealista.com/blur/WEB_LISTING/0/...,4,1,450000.0,{'price': {'amount': 450000.0}},flat,sale,123.0,True,...,False,False,False,False,False,NaN,VIDE07779100002,NaN,False,NaN
34,104342853,https://img3.idealista.com/blur/WEB_LISTING/0/...,4,2,380000.0,{'price': {'amount': 380000.0}},flat,sale,101.0,True,...,False,False,False,False,False,NaN,VIDE07779100007,NaN,False,NaN
35,104342874,https://img3.idealista.com/blur/WEB_LISTING/0/...,4,1,280000.0,{'price': {'amount': 280000.0}},flat,sale,76.0,True,...,False,False,False,False,False,NaN,VIDE07779100004,NaN,False,NaN
36,103389259,https://img3.idealista.com/blur/WEB_LISTING/0/...,11,2,220000.0,{'price': {'amount': 220000.0}},flat,sale,105.0,True,...,False,False,False,False,False,NaN,PIS_162,NaN,NaN,NaN
37,92667819,https://img3.idealista.com/blur/WEB_LISTING/0/...,20,2,306000.0,{'price': {'amount': 306000.0}},flat,sale,83.0,False,...,False,False,False,False,False,{'groupDescription': 'Destacado'},031506ON,"{'hasParkingSpace': True, 'isParkingSpaceInclu...",NaN,NaN
38,104389177,https://img3.idealista.com/blur/WEB_LISTING/0/...,23,bj,126000.0,"{'price': {'amount': 126000.0, 'priceDropInfo'...",flat,sale,60.0,True,...,False,False,False,False,False,{'groupDescription': 'Destacado'},NaN,NaN,NaN,NaN
39,104091571,https://img3.idealista.com/blur/WEB_LISTING/0/...,34,2,159900.0,{'price': {'amount': 159900.0}},flat,sale,61.0,True,...,False,False,False,False,False,NaN,NaN,NaN,NaN,NaN
40,103930456,https://img3.idealista.com/blur/WEB_LISTING/0/...,31,NaN,480000.0,{'price': {'amount': 480000.0}},chalet,sale,184.0,NaN,...,False,False,False,False,False,{'groupDescription': 'Destacado'},NaN,NaN,NaN,NaN
41,103925012,https://img3.idealista.com/blur/WEB_LISTING/0/...,16,bj,349684.0,{'price': {'amount': 349684.0}},flat,sale,120.0,True,...,False,False,False,False,False,NaN,Bajo,NaN,False,NaN
42,104358396,https://img3.idealista.com/blur/WEB_LISTING/0/...,14,3,349684.0,{'price': {'amount': 349684.0}},duplex,sale,138.0,True,...,False,False,False,False,False,NaN,NaN,NaN,False,NaN
43,104358379,https://img3.idealista.com/blur/WEB_LISTING/0/...,14,1,349684.0,{'price': {'amount': 349684.0}},flat,sale,132.0,True,...,False,False,False,False,False,NaN,NaN,NaN,False,NaN
44,103912731,https://img3.idealista.com/blur/WEB_LISTING/0/...,23,2,270000.0,"{'price': {'amount': 270000.0, 'priceDropInfo'...",flat,sale,96.0,True,...,False,False,False,False,False,NaN,AV.AND20,NaN,NaN,NaN
45,103619303,https://img3.idealista.com/blur/WEB_LISTING/0/...,82,2,270000.0,{'price': {'amount': 270000.0}},flat,sale,96.0,True,...,False,False,False,False,False,NaN,NaN,NaN,NaN,NaN
46,104010645,https://img3.idealista.com/blur/WEB_LISTING/0/...,35,5,249990.0,{'price': {'amount': 249990.0}},flat,sale,163.0,True,...,False,False,False,False,False,{'groupDescription': 'Destacado'},NaN,NaN,NaN,NaN
47,104670035,https://img3.idealista.com/blur/WEB_LISTING/0/...,10,3,455000.0,{'price': {'amount': 455000.0}},duplex,sale,138.0,True,...,False,False,False,False,False,{'groupDescription': 'Destacado'},492-6,"{'hasParkingSpace': True, 'isParkingSpaceInclu...",NaN,"[{'name': 'bright', 'text': 'Luminoso'}]"
48,104669907,https://img3.idealista.com/blur/WEB_LISTING/0/...,10,2,440000.0,{'price': {'amount': 440000.0}},flat,sale,129.0,True,...,False,False,False,False,False,NaN,492-4,"{'hasParkingSpace': True, 'isParkingSpaceInclu...",NaN,NaN
49,104660634,https://img3.idealista.com/blur/WEB_LISTING/0/...,10,en,435000.0,{'price': {'amount': 435000.0}},flat,sale,137.0,True,...,False,False,False,False,False,NaN,492-1,"{'hasParkingSpace': True, 'isParkingSpaceInclu...",NaN,NaN

In [ ]:
# This will loop over all the pages in the search results. It start from 2, because we've already gotten the first page
for i in range(2, total_pages + 1):

    url_page = url %(i)   # Add the pagination to the url
    results = search_api(url_page)   # Get the search results
    df = results_to_df(results)   # Save the results as a dataframe
    df_tot = concat_df(df, df_tot)   # Concat the results to the main dataframe

JSONDecodeError: Expecting value: line 1 column 1 (char 0)

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
df_tot

,propertyCode,thumbnail,numPhotos,floor,price,priceInfo,propertyType,operation,size,exterior,...,has3DTour,has360,hasStaging,topNewDevelopment,topPlus,highlight,externalReference,parkingSpace,newDevelopmentFinished,labels
0,104379438,https://img3.idealista.com/blur/WEB_LISTING/0/...,14,1,114000.0,"{'price': {'amount': 114000.0, 'priceDropInfo'...",flat,sale,90.0,True,...,False,False,False,False,False,NaN,NaN,NaN,NaN,NaN
1,104577954,https://img3.idealista.com/blur/WEB_LISTING/0/...,24,4,95000.0,{'price': {'amount': 95000.0}},flat,sale,67.0,True,...,False,False,False,False,False,{'groupDescription': 'Destacado'},NaN,NaN,NaN,NaN
2,104088494,https://img3.idealista.com/blur/WEB_LISTING/0/...,23,12,187000.0,{'price': {'amount': 187000.0}},flat,sale,125.0,True,...,False,False,False,False,False,NaN,NaN,NaN,NaN,NaN
3,104583410,https://img3.idealista.com/blur/WEB_LISTING/0/...,25,1,99995.0,{'price': {'amount': 99995.0}},flat,sale,53.0,True,...,False,False,False,False,False,{'groupDescription': 'Top'},V-SPA-513,NaN,NaN,NaN
4,103550397,https://img3.idealista.com/blur/WEB_LISTING/0/...,25,2,270000.0,{'price': {'amount': 270000.0}},flat,sale,91.0,NaN,...,False,True,False,False,False,{'groupDescription': 'Destacado'},CAN0000197397,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45,102063111,https://img3.idealista.com/blur/WEB_LISTING/0/...,32,NaN,350000.0,{'price': {'amount': 350000.0}},chalet,sale,285.0,NaN,...,False,False,False,False,False,{'groupDescription': 'Destacado'},1949SG,"{'hasParkingSpace': True, 'isParkingSpaceInclu...",NaN,NaN
46,104500350,https://img3.idealista.com/blur/WEB_LISTING/0/...,29,NaN,240000.0,{'price': {'amount': 240000.0}},chalet,sale,149.0,NaN,...,False,False,False,False,False,NaN,01468,"{'hasParkingSpace': True, 'isParkingSpaceInclu...",NaN,NaN
47,104603468,https://img3.idealista.com/blur/WEB_LISTING/0/...,38,NaN,125000.0,{'price': {'amount': 125000.0}},countryHouse,sale,145.0,NaN,...,False,False,False,False,False,NaN,CRV-107,NaN,NaN,NaN
48,104358287,https://img3.idealista.com/blur/WEB_LISTING/0/...,10,bj,146900.0,{'price': {'amount': 146900.0}},flat,sale,100.0,False,...,False,False,False,False,False,{'groupDescription': 'Destacado'},1435-M2387,"{'hasParkingSpace': True, 'isParkingSpaceInclu...",NaN,NaN
49,104707528,https://img3.idealista.com/blur/WEB_LISTING/0/...,16,NaN,150000.0,{'price': {'amount': 150000.0}},flat,sale,130.0,True,...,False,False,False,False,False,NaN,22464,NaN,NaN,NaN

In [ ]:
# Once we have all our data, we just need to save it as a csv file, we have created the following function for that:
import os

file_name = 'idealistaCompra.csv'

def df_to_csv(df):
    '''
    This function takes a given dataframe and saves it as a CSV file in the same directory as the Colab notebook.
    '''
    file_path = os.path.join(os.getcwd(), file_name)
    df = df.reset_index()   # Reset the index to organize the records
    df.to_csv(file_path, index=False)   # Save it into a CSV
    return file_path

In [ ]:
# Run the function to save the dataframe as a CSV file in the same directory as the Colab notebook
csv_file_path = df_to_csv(df_tot)
print("CSV file saved at:", csv_file_path)

CSV file saved at: /content/idealistaCompra.csv